
<%= form_for @author, html: { multipart: true } do |form| %>
  <div> 
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :nationality %>
    <%= form.text_field :nationality %>
  </div>
  <div>
    <%= form.label :biography %>
    <%= form.text_area :biography %>
  </div>
<div>
    <%= form.label :date_of_birth%>
    <%= form.date_field :date_of_birth %>
  </div>
  <!-- form fields -->
  <%= form.file_field :author_image %>
  <!-- other fields and submit button -->
  <%= form.submit %>
<% end %>